<section id="content">
    <div class="container">
        <div class="containerPaperEffect">
            <h2 class="sectionTitle">Our Gallery</h2>

            <div class="buttonDiv" *ngIf="currentUser != undefined">
                <a routerLink="/mine" class="button">My drawings</a>
                <a routerLink="/drawing/create" class="button">Add drawing</a>
            </div>

            <ul>
                <app-drawing-card *ngFor="let drawing of drawings$ | async" [drawing]="drawing"></app-drawing-card>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</section>
