.sectionTitle {
    color: #00ae35;
    padding-bottom: 5px;
    text-decoration: underline;
}

.margins1 {
    margin-top: 40px;
    padding-bottom: 6px;
}

.sideText {
    padding-bottom: 12px;
    color: rgb(0, 95, 0);
    font-size: 15px;
}

.link {
    font-weight: bold;
    display: inline-block;
    color: #b30800;
}

.bigLink {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: -1px;
    display: inline-block;
    color: #b30800;
}

ul.list-2 li {
    padding: 0px 0 0px 14px;
    line-height: 22px;
    background: url(../../../assets/images/marker-2.gif) 0 9px no-repeat;
}

ul.list-2 li a {
    font-size: 14px;
    color: #000;
    line-height: 22px;
}

ul.list-2 li a:hover {
    color: #0072ff;
}
